body {
  font-family: 'Roboto', sans-serif;
  background-color: pink;
}

.form {
  margin: 50px;
  display: flex;
  justify-content: center;
}

.form div {
  width: 600px;
  height: 600px;
  border: 2px dotted purple;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form p {
  margin: 0;
}
